.title{
    text-align: center;
    padding: 50px 0 0 0;
    color: black;
}
.background{
    overflow: hidden;
    z-index: -1;
    background-image:url('/static/img/hero-shape.png');
    background-size:50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:-50px;
}
.background .shape-2{
    position: relative;
    width: 70px;
    top:80px;
    left:280px;
    transform: scaleX(-1);
}
.background .shape-3{
    position: relative;
    width: 70px;
    top:-100px;
    right:-930px;
}
.chi-nhanh{
    display: flex;
    padding: 50px 150px;
    gap:70px;
    margin-top: -100px;
}

.chi-nhanh .hn{
    width: 50%;
    gap:10px;
    padding: 10px 20px;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background-color: hsla(30, 30%, 58%, 0.3);
    backdrop-filter: blur(8px);
}
.chi-nhanh .hn .head-title{
    border-radius: 0 0 90px 90px;
    background-color: var(--umber);
    color: white;
    margin-top: -10px;
    text-align: center;
    padding:5px 20px 5px; 
}

.chi-nhanh .tphcm{
    width: 50%;
    gap:10px;
    padding: 10px 20px;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background-color: hsla(30, 30%, 58%, 0.3);
    backdrop-filter: blur(8px);
}
.chi-nhanh .tphcm .head-title{
    border-radius: 0 0 90px 90px;
    background-color: var(--umber);
    color: white;
    margin-top: -10px;
    text-align: center;
    padding:5px 20px 5px;
}
.location {
    display: flex;  
    align-items: center; 
    line-height: 1.5;
    /* font-size: 1rem; */
}
.location span {
    display: block; 
    padding: 10px;  /* Forces the text to appear on a new line */
}
.icon-container {
    text-align: center; /* Centers the icon */
    margin-bottom: 25px; 
}
.location ion-icon {
    margin-right: 20px;  
    font-size: 1.5rem;
}
