:root {

  /**
   * colors
   */

  --cultured: hsla(0, 0%, 97%, 1);
  --french-bistre: hsla(31, 17%, 44%, 1);
  --jet: hsla(0, 0%, 20%, 1);
  --bistre: hsl(35, 100%, 9%);
  --bistre_a75: hsla(35, 100%, 9%, 0.749);
  --camel: hsla(30, 30%, 58%, 1);
  --umber: hsl(31, 17%, 36%);
  --golden-brown_a60: hsla(35, 70%, 38%, 0.6);
  --granite-gray: hsla(0, 0%, 38%, 1);   
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image:url('/static/img/hero-shape.png');
  background-size: 50%;
  background-position: center;
}
.login-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 500px;
  padding: 40px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  background-color: hsla(30, 30%, 58%, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.register-box {
  margin:30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 700px;
  padding: 40px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  background-color: hsla(30, 30%, 58%, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.forgot-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  background-color: hsla(30, 30%, 58%, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.verify-otp-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  background-color: hsla(30, 30%, 58%, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.reset-password-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  background-color: hsla(30, 30%, 58%, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.login-header{
  text-align: center;
  margin: 20px 0 30px 0;
}
.register-header {
  text-align: center;
  margin: 20px 0 30px 0;
}
.forgot-header{
  text-align: center;
  margin: 20px 0 30px 0;
}
.verify-otp-header{
  text-align: center;
  margin: 20px 0 30px 0;
}
.reset-password-header{
  text-align: center;
  margin: 20px 0 30px 0;
}
.login-header header{
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.register-header header {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.forgot-header header{
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.verify-otp-header header{
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.reset-password-header header{
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.input-box .input-field{
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
  outline: none;
  transition: .3s;
}
::placeholder{
  font-weight: 500;
  color: #222;
}
.input-field:focus{
  width: 105%;
}
.forgot{
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}
section{
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #555;
}
#check{
  margin-right: 10px;
}
a{
  text-decoration: none;
}
.body a:hover{
  text-decoration: underline;
}
section a{
  color: #555;
}
.input-submit{
  position: relative;
}
.submit-btn{
  width: 100%;
  height: 60px;
  background: #222;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}
.input-submit label{
  position: absolute;
  top: 45%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.submit-btn:hover{
  background: #000;
  transform: scale(1.05,1);
}
.sign-up-link{
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
.sign-up-link a{
  color: #000;
  font-weight: 600;
}

.sign-in-link{
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
.sign-in-link a{
  color: #000;
  font-weight: 600;
}