.intro-header {
    text-align: center;
    position: relative;
    padding: 20px;
}

.intro-header img {
    max-width: 100%;
    height: auto;
}
.shape-2 {
    position: absolute;
    top: 20px;
    left:450px;
    width: 60px;
    transform: scaleX(-1);
}
 .shape-3 {
    position: absolute;
    top: 20px;
    right:450px;
    width: 60px;
}
.shape-4 {
    position: absolute;
    bottom: -430px;
    right: 30px;
    width: 100px;
}

.intro-title {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.intro-content{
    text-align: justify;
    padding: 0px 60px 60px 50px;
}
.intro-content p{
    padding: 10px;
}