.instruct-header {
    text-align: center;
    position: relative;
    padding: 20px;
}

.instruct-header img {
    max-width: 100%;
    height: auto;
}
.shape-2 {
    position: absolute;
    top: 20px;
    left:330px;
    width: 60px;
    transform: scaleX(-1);
}
 .shape-3 {
    position: absolute;
    top: 20px;
    right:330px;
    width: 60px;
}
.shape-4 {
    position: absolute;
    bottom: -40px;
    right: 30px;
    width: 100px;
}

.instruct-title {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.instruct-content{
    text-align: justify;
    padding: 0px 60px 60px 50px;
}
.instruct-content p{
    padding: 10px;
}
.instruct-content h3{
    padding: 5px;
}