<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
  <!-- 
    - primary meta tags
  -->
  <title>Style Art- Trung Tâm Dạy Vẽ Mỹ Thuật</title>
  <meta name="title" content="Crafti - We Make Top Quality Handmade Products">
  <meta name="description" content="This is a Handmade Products html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static "img/logo (2).png"%}" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Rosario:wght@500;600;700&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static "css/layout-user.css" %}">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./assets/images/hero-banner-1.jpg">
  <link rel="preload" as="image" href="./assets/images/hero-banner-2.jpg">

</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
      <div class="nav__logo">
        <a href="#" class="logo"><img src="{%static "img/logo (2).png"%}" alt=""></a>
    </div>
    <nav class="navbar" data-navbar>
      <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
        <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
      </button>

      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="#" class="navbar-link">Trang chủ</a>
        </li>

        <li class="navbar-item">
          <a href="#" class="navbar-link">Hướng dẫn</a>
            <ul class="submenu">
              <li><a href="">Hướng dẫn đăng ký tài khoản</a></li>
              <li><a href="">Hướng dẫn xem khóa học</a></li>
              <li><a href="">Câu hỏi thường gặp</a></li>
            </ul>
        </li>

        <li class="navbar-item">
          <a href="#" class="navbar-link">Lớp học</a>
            <ul class="submenu">
              <li><a href="">Phong cảnh</a></li>
              <li><a href="">Ký họa</a></li>
              <li><a href="">Chân dung</a></li>
              <li><a href="">Màu nước</a></li>
              <li><a href="">Sơn dầu</a></li>
            </ul>
        </li>

        <li class="navbar-item">
          <a href="#" class="navbar-link">Đăng ký tư vấn</a>
        </li>

        <div class="nav-right">
          <button class="navbar-button">Đăng ký</button>
        </div>
        <div class="nav-right-right">
          <button class="navbar-button">Đăng nhập</button>
        </div>

        <div class="packing-button">
          <button class="navbar-button"><ion-icon name="bag-handle-outline"></ion-icon></button>
        </div>
      </ul>
    </nav>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>

  <main>
    <article>
      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="home">
        <div class="container">

          <div class="hero-content">
            <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-2">
            <h1 class="h1 hero-title">
             Mỹ thuật <br>
            <span class="span">Phong cách</span>
            </h1>

            <p class="section-text">
              Khơi nguồn sáng tạo, vẽ nên phong cách
            </p>
            <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-3">
            {% comment %} <a href="#" class="btn">
              <span class="span">TÌM HIỂU THÊM</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a> {% endcomment %}

          </div>

          <div class="wrapper">
            <div class="hero-banner-1 img-holder" style="--width: 400; --height: 550;">
              <img src="{% static "img/kh-nl-1.jpg" %}" width="400" height="550"
                alt="view of assortment of decor for interior shop" class="img-cover">
            </div>

            <div class="hero-banner-2 img-holder" style="--width: 500; --height: 850;">
              <img src="{% static "img/kh-nl-2.png" %}" width="500" height="850" alt="ceramic craft ware"
                class="img-cover">
            </div>

            <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape">
          </div>

        </div>
      </section>





      <!-- 
        - #COURSE
      -->
      <section class="section course" aria-label="course">
        <p class="course-title">25 khóa học từ căn bản đến nâng cao, đa dạng chất liệu, chủ đề, đáp ứng mọi sở thích, định hướng của bạn</p>
          <div class="container">
            <div class="card">
                <div class="img-bx" style="--img:url({% static "img/tranh-phong-canh.jpg" %})"></div>
                <div class="content">
                    <h3>Phong cảnh <br><span>Tìm hiểu thêm</span></h3>
                </div>
            </div>
            <div class="card">
                <div class="img-bx" style="--img:url({% static "img/tranh-ky-hoa.jpg" %})"></div>
                <div class="content">
                    <h3>Ký họa<br><span>Tìm hiểu thêm</span></h3>   
                </div>
            </div>
            <div class="card">
              <div class="img-bx" style="--img:url({% static "img/tranh-chan-dung.jpeg" %})"></div>
              <div class="content">
                  <h3>Chân dung <br><span>Tìm hiểu thêm</span></h3>
              </div>
          </div>
          <div class="card">
            <div class="img-bx" style="--img:url({% static "img/tranh-mau-nuoc.jpg" %})"></div>
            <div class="content">
                <h3>Màu nước<br><span>Tìm hiểu thêm</span></h3>
            </div>
          </div>
          <div class="card">
            <div class="img-bx" style="--img:url({% static "img/tranh-son-dau.jpg" %})"></div>
            <div class="content">
                <h3>Sơn dầu<br><span>Tìm hiểu thêm</span></h3>
            </div>
          </div>
        </div>
      </section>


      <!-- 
        - #COLLECTION
      -->

      <section class="section collection text-center" aria-labelledby="collection-label">
        <div class="container">

          <h2 class="h2 section-title" id="collection-label">
            Kết thúc khóa học bạn được gì ?
          </h2>

          <p class="section-text">
            Sản phẩm của các học viên sau khi tham gia khóa học
          </p>

          <ul class="grid-list">

            <li>
              <div class="collection-card">

                <figure class="card-banner img-holder" style="--width: 500; --height: 550;">
                  <img src="{%static "img/sp-1.jpg"%}" width="500" height="550" loading="lazy"
                    alt="Pottery & Ceramics" class="img-cover">
                </figure>

              </div>
            </li>

            <li>
              <div class="collection-card">

                <figure class="card-banner img-holder" style="--width: 500; --height: 550;">
                  <img src="{%static "img/sp-2.jpg"%}" width="500" height="550" loading="lazy"
                    alt="Leather Craft" class="img-cover">
                </figure>

              </div>
            </li>

            <li>
              <div class="collection-card">

                <figure class="card-banner img-holder" style="--width: 500; --height: 550;">
                  <img src="{%static "img/sp-3.jpg"%}" width="500" height="550" loading="lazy"
                    alt="Home Decoration" class="img-cover">
                </figure>
              </div>
            </li>
          </ul>
          <p class="collection-title">Tự hào khi được đồng hành cùng bạn trên con đường hội họa<p>

        </div>
      </section>





      <!-- 
        - #FEATURES
      -->

      <section class="feature" aria-label="features">

        <div class="feature-banner has-bg-image has-after"
          style="background-image: url('./assets/images/feature-banner.jpg')">
          <button class="play-btn" aria-label="play video: man making handmade belt">
            <img src="./assets/images/play.svg" width="60" height="60" loading="lazy" alt="play icon">
          </button>
        </div>

        <div class="section feature-content">
          <div class="container">

            <h2 class="h2 section-title">
              Passionate About Elegance and Beauty Design
            </h2>

            <p class="section-text">
              Curabitur porttitor nulla vitae purus eleifend feugiat. Quisque faucibus sapien, ut porttitor lorem.
            </p>

            <ul class="feature-list">

              <li>
                <div class="feature-list-card">

                  <div class="card-icon">
                    <img src="./assets/images/feature-icon-1.svg" width="45" height="45" loading="lazy"
                      alt="review icon">
                  </div>

                  <div>
                    <h3 class="h4 card-title">100% Guarantee</h3>

                    <p class="card-text">
                      Vestibulum in eros at lectus commodo
                    </p>
                  </div>

                </div>
              </li>

              <li>
                <div class="feature-list-card">

                  <div class="card-icon">
                    <img src="./assets/images/feature-icon-2.svg" width="45" height="45" loading="lazy"
                      alt="badge icon">
                  </div>

                  <div>
                    <h3 class="h4 card-title">Professional Staffs</h3>

                    <p class="card-text">
                      Vestibulum in eros at lectus commodo
                    </p>
                  </div>

                </div>
              </li>

              <li>
                <div class="feature-list-card">

                  <div class="card-icon">
                    <img src="./assets/images/feature-icon-3.svg" width="45" height="45" loading="lazy"
                      alt="money bag icon">
                  </div>

                  <div>
                    <h3 class="h4 card-title">Affordable Price</h3>

                    <p class="card-text">
                      Vestibulum in eros at lectus commodo
                    </p>
                  </div>

                </div>
              </li>

            </ul>

            <p>
              Nunc cursus ante libero, et convallis eros tristique nec. Fusce consequat lectus dui, nec laoreet purus
              venenatis id.
            </p>

          </div>
        </div>

      </section>





      <!-- 
        - #TESTIMONIALS
      -->

      <section class="section testi" aria-label="testimonials">
        <div class="container">

          <div class="testi-card">

            <p class="card-text">
              Không cần năng khiếu, không cần trình độ đến với chúng mình để được hướng dẫn từ những
              bước cầm cọ đầu tiên
            </p>

            <p class="client-name">Vì Bụi khiến học vẽ trở nên dễ dàng</p>

            <img src="./assets/images/quote.svg" width="50" height="50" loading="lazy" class="icon" alt="quote">

          </div>

        </div>
      </section>





      <!-- 
        - #GALLERY
      -->

      <section class="gallery">

        <ul class="gallery-list">

          <li>
            <div class="gallery-card has-bg-image has-after"
              style="background-image: url({% static "img/gv-1.jpeg" %})">
              <div class="card-content">

                <h3 class="h3 card-title">Ngô Khánh Hân</h3>

                <a href="#" class="btn-link">
                  <span class="span">Xem chi tiết</span>

                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>

              </div>
            </div>
          </li>

          <li>
            <div class="gallery-card has-bg-image has-after"
              style="background-image: url({% static "img/gv-2.jpeg" %})">
              <div class="card-content">

                <h3 class="h3 card-title">Trần Thanh Trúc</h3>

                <a href="#" class="btn-link">
                  <span class="span">Xem chi tiết</span>

                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>

              </div>
            </div>
          </li>

          <li>
            <div class="gallery-card has-bg-image has-after"
              style="background-image: url('{% static "img/gv-3.jpg" %}')">
              <div class="card-content">

                <h3 class="h3 card-title">Hình Đinh Gia Bảo</h3>

                <a href="#" class="btn-link">
                  <span class="span">Xem chi tiết</span>

                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>

              </div>
            </div>
          </li>

          <li>
            <div class="gallery-card has-bg-image has-after"
              style="background-color:hsla(35, 70%, 38%, 0.6);">
              <div class="card-content">

                <h3 class="h3 card-title">Xem thêm giáo viên</h3>

                <a href="#" class="btn-link">
                  <span class="span">Xem chi tiết</span>

                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>

              </div>
            </div>
          </li>

        </ul>

      </section>





      <!-- 
        - #BLOG
      -->

      <section class="section blog" aria-labelledby="blog-label">
        <div class="container">
          <h3 style="text-align: center;">Truyền thông</h3>
          <h2 class="h2 section-title text-center" id="blog-label">Báo chí nói về Bụi</h2>

          <p class="section-text text-center">
            
          </p>

          <ul class="grid-list">

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 1024; --height: 683;">
                  <img src="./assets/images/bao-1.jpg" width="1024" height="683" loading="lazy"
                   class="img-cover">
                </figure>

                <div class="card-content">

                  <h3 class="h4">
                    <a href="#" class="card-title">
                      Triển lãm Tìm về 2017: About Time – Màu khoảnh khắc tôi đem ký ức đẹp lưu giữ nhẹ vào tranh
                    </a>
                  </h3>

                  <div class="card-meta">

                    <a href="#" class="card-meta-wrapper">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <span class="span">admin</span>
                    </a>

                    <time class="card-meta-wrapper" datetime="2022-10-12">
                      <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                      <span class="span">October 12, 2022</span>
                    </time>

                    <a href="#" class="card-meta-wrapper">
                      <ion-icon name="folder-open-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Tips & Trick</span>
                    </a>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 1024; --height: 683;">
                  <img src="./assets/images/bao-2.png" width="1024" height="683" loading="lazy"
                  class="img-cover">
                </figure>

                <div class="card-content">

                  <h3 class="h4">
                    <a href="#" class="card-title">
                      Khai mạc Triển Lãm Tìm Về 2017: About Time – Màu Khoảnh Khắc
                    </a>
                  </h3>

                  <div class="card-meta">

                    <a href="#" class="card-meta-wrapper">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <span class="span">admin</span>
                    </a>

                    <time class="card-meta-wrapper" datetime="2022-10-12">
                      <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                      <span class="span">October 12, 2022</span>
                    </time>

                    <a href="#" class="card-meta-wrapper">
                      <ion-icon name="folder-open-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Tips & Trick</span>
                    </a>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 1024; --height: 683;">
                  <img src="./assets/images/bao-3.jpg" width="1024" height="683" loading="lazy"
                  class="img-cover">
                </figure>

                <div class="card-content">

                  <h3 class="h4">
                    <a href="#" class="card-title">
                      Triển lãm “Tìm về 2017: Màu khoảnh khắc” – Chiếc vé ngược thời gian
                    </a>
                  </h3>

                  <div class="card-meta">

                    <a href="#" class="card-meta-wrapper">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <span class="span">admin</span>
                    </a>

                    <time class="card-meta-wrapper" datetime="2022-10-12">
                      <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                      <span class="span">October 12, 2022</span>
                    </time>

                    <a href="#" class="card-meta-wrapper">
                      <ion-icon name="folder-open-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Tips & Trick</span>
                    </a>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 1024; --height: 683;">
                  <img src="./assets/images/blog-4.jpg" width="1024" height="683" loading="lazy"
                    alt="Homemade Business That Now Makes Hundreds Of Millions" class="img-cover">
                </figure>

                <div class="card-content">

                  <h3 class="h4">
                    <a href="#" class="card-title">
                      Homemade Business That Now Makes Hundreds Of Millions
                    </a>
                  </h3>

                  <div class="card-meta">

                    <a href="#" class="card-meta-wrapper">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <span class="span">admin</span>
                    </a>

                    <time class="card-meta-wrapper" datetime="2022-10-12">
                      <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                      <span class="span">October 12, 2022</span>
                    </time>

                    <a href="#" class="card-meta-wrapper">
                      <ion-icon name="folder-open-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Tips & Trick</span>
                    </a>

                  </div>

                </div>

              </div>
            </li>

          </ul>
          
          <a href="#" class="btn">
            <span class="span">XEM THÊM TIN TỨC</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="section footer-top">

        <div class="footer-brand">

          <a href="#" class="logo">Style Art</a>

          <p class="footer-text">
            Trung tâm dạy vẽ mỹ thuật<br>
            Style Art - Mỹ thuật phong cách<br>
            Khơi nguồn sáng tạo, vẽ nên phong cách<br>
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-tiktok"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Hỗ trợ</p>
          </li>
          <li>
            <a href="#" class="footer-link">Giới thiệu</a>
          </li>
          <li>
            <a href="#" class="footer-link">Hướng dẫn thanh toán</a>
          </li>
          <li>
            <a href="#" class="footer-link">Chính sách bảo mật</a>
          </li>
          <li>
            <a href="#" class="footer-link">Chính sách dịch vụ</a>
          </li>
        </ul>

        {% comment %} <ul class="footer-list">

          <li>
            <p class="footer-list-title">Hỗ trợ</p>
          </li>

          <li>
            <a href="#" class="footer-link">Hướng dẫn thanh toán</a>
          </li> {% endcomment %}

          {% comment %} <li>
            <a href="#" class="footer-link">Feedback</a>
          </li>

          <li>
            <a href="#" class="footer-link">Support Center</a>
          </li>

          <li>
            <a href="#" class="footer-link">Our Stores</a>
          </li> {% endcomment %}

        {% comment %} </ul> {% endcomment %}

        <div class="footer-list">

          <p class="footer-list-title">Liên hệ</p>

          <p class="footer-text">
            Nếu bạn có câu hỏi hoặc góp ý?<br>
            Liên hệ cho chúng tôi, chúng tôi rất vinh hạnh khi được nghe
          </p>

          <a href="#" class="btn">
            <span class="span">Liên hệ</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>

        </div>

      </div>

      <div class="footer-bottom">

        <p class="copyright">
          Trụ sở : 140 Đường Lê Trọng Tấn, Tây Thạnh, Tân Phú, Hồ Chí Minh, Việt Nam
        </p>

      </div>

    </div>
  </footer>





  <!-- 
    - custom js link
  -->
  <script src="{%static "js/script.js"%}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>


</html>