{% extends "layout/layout-user.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<link rel="stylesheet" href="{% static "css/chinh-sach-bao-mat.css" %}">
<div class="private">
    <div class="private-header">
        <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-2">
        <h1 class="private-title">Chính sách bảo mật</h1>
        <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-3">
    </div>
    <div class="private-content">
        <p>Xin chào bạn đến với chính sách bảo mật của Mỹ thuật Bụi. Đây là những điều khoản được Hệ thống dạy vẽ trực tuyến
            biên soạn nhằm bảo đảm cam kết về bảo mật thông tin cá nhân của bạn nếu bạn là người sử dụng hoặc ghé thăm website của chúng tôi.</p>

        <p>Khi bạn đã đăng ký tài khoản trên website, 
            chúng tôi sẽ hiểu rằng bạn đã đọc và đồng ý toàn bộ điều khoản được đưa ra trong chính sách này.
        </p>

        <h3> 1. Thông tin chúng tôi thu thập về bạn</h3>

        <p>Bạn cần đăng nhập vào email đã đăng ký để xác nhận các thông tin từ chúng tôi như:
             email mua khóa học, kích hoạt khóa học, xác nhận đổi mật khẩu, 
             thông báo về khóa học và chương trình khuyến mãi,… 
             Những trường hợp điền thiếu thông tin hoặc thông tin sai sự thật sẽ không được giải quyết khi có xảy ra các sự cố xảy ra với tài khoản.
        </p>

        <p>Hệ thống sẽ thu thập thông tin cá nhân của bạn như tên, email, 
            số điện thoại để thiết lập tài khoản trên website. Đây là các thông tin mà 
            hệ thống cần người dùng cung cấp bắt buộc để chúng tôi có thể 
            liên hệ xác nhận khi khách hàng đăng ký sử dụng dịch vụ trên website nhằm đảm bảo quyền lợi cho cho người tiêu dùng.</p>

        <p>Các thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký và mật khẩu của mình. 
            Ngoài ra, thành viên có trách nhiệm thông báo kịp thời cho hệ thống về những hành vi sử dụng trái phép, 
            lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.</p>

        <h3> 2. Sử dụng thông tin cá nhân</h3>

        <p>Website tôn trọng sự riêng tư và bảo mật thông tin cá nhân của khách hàng là ưu tiên của chúng tôi. 
        Nếu khách hàng rời máy tính mà chưa đăng xuất trên website, hệ thống sẽ tự động đăng xuất sau một khoảng thời gian.
        </p>

        <p>Các thông tin thu thập thông qua website sẽ giúp cho hệ thống:</p>
        
        <p> + Tư vấn cho khách hàng qua điện thoại miễn phí</p>

        <p> + Giải đáp thắc mắc khách hàng</p>

        <p> + Cung cấp cho khách hàng thông tin mới nhất về khóa học</p>

        <p> + Thực hiện các hoạt động khảo sát khách hàng, quảng bá liên quan đến các khóa học.</p>

        <p>Trong trường hợp có yêu cầu của pháp luật, 
            hệ thống có trách nhiệm hợp tác cung cấp thông tin cá nhân thành viên khi có yêu cầu từ cơ quan tư pháp bao gồm: 
            Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. 
            Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của thành viên.
        </p>

        <h3>3. Thời gian lưu trữ thông tin</h3>

        <p>
            Hệ thống sẽ giữ thông tin cá nhân của khách hàng cho đến khi có yêu cầu 
            hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ. 
            Khách hàng có thể xoá hoặc vô hiệu hoá tài khoản bất kì lúc nào bằng cách liên hệ với chúng tôi. 
            Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của hệ thống
        </p>

        <h3>4. Đối tượng chia sẻ thông tin</h3>

        <p>
            Hệ thống có thể tiết lộ thông tin cá nhân của khách hàng theo yêu cầu của cơ quan chức năng có thẩm quyền.
             Chúng tôi và các đối tác sử dụng Cookies để ghi nhớ thông tin khi bạn truy cập vào website.
              Chúng tôi cũng sử dụng Cookies để lưu trữ ID đăng nhập của bạn, giúp bạn thuận tiện hơn khi đăng nhập vào trang web. Hầu hết các trình duyệt cho phép người dùng tùy chỉnh việc ngăn chặn lưu trữ Cookies trong máy tính.
        </p>

        <h3>5. Thành viên chỉnh sửa dữ liệu cá nhân của mình</h3>

        <p>Thành viên có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình 
        bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân hoặc yêu cầu hệ thống thực hiện việc này.</p>

        <p> + Biên tập hồ sơ: Khách hàng có thể thay đổi hồ sơ bất kì lúc nào bằng cách cập nhật trong tài khoản cá nhân. 
            Thay đổi của khách hàng sẽ được cập nhật ngay sau đó.</p>

        <p> + Xoá hoặc vô hiệu hoá hồ sơ: Khách hàng có thể xoá hoặc vô hiệu hoá bất kì lúc nào bằng cách liên hệ với trung tâm.</p>

        <h3>6. Cam kết bảo mật thông tin cá nhân khách hàng</h3>

        <p>
            Thông tin cá nhân của thành viên trên hệ thống được chúng tôi cam kết bảo mật tuyệt đối.
            Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.
        </p>

        <p>
            Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của thành viên khi không có sự cho phép đồng ý từ thành viên.
        </p>

        <p>
            Hệ thống yêu cầu các cá nhân khi đăng ký/mua hàng là thành viên, 
            phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ, số điện thoại, email, số tài khoản, số thẻ thanh toán,…. 
            và chịu trách nhiệm về tính pháp lý của những thông tin trên. 
            Hệ thống không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.
        </p>

        <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-4">
    </div>
</div>
{%endblock%}