{% extends "layout/layout-user.html" %} {% block title %} Home {% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/gio-hang.css" %}">
    <script src="{% static "js/gio-hang.js" %}"></script>
    <div class="cart container">
        <h1>Tiến hành mua hàng</h1>
        <div class="cart__content row">
            <div class="cart__left col-8">
                <div class="cart__user">
                    <h2>Thông tin khách hàng</h2>
                    <form action="" class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name">Họ và tên *</label>
                                <input required type="text" class="input-field" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="name">Địa chỉ email *</label>
                                <input required type="text" id="name" name="name">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name">Số điện thoại *</label>
                                <input required type="text" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="name">Người giới thiệu</label>
                                <input type="text" id="name" name="name">
                            </div>
                        </div>
                    </form>
                    <span class="note">"Nếu bạn đã từng mua khóa học hoặc có tài khoản tại lopveonline.vn , bạn có thể đăng nhập để không phải nhập lại thông tin cá nhân"</span>
                </div>
                <div class="cart__payment">
                    <h2>Phương thức thanh toán</h2>
                    <div class="cart__payment-method">
                        <div class="cart__payment-method-item">
                            <input type="radio" name="payment" value="transfer" id="payment2">
                            <label for="payment2">Chuyển khoản ngân hàng</label>
                            <div class="panel-group">
                                <div class="panel" id="collapseTransfer">
                                    <div class="panel__left">
                                        <img src="{% static "img/tpbank.png" %}" alt="">
                                    </div>
                                    <div class="panel__right">
                                        <p>Ngân hàng: TP Bank</p>
                                        <p>Chủ tài khoản: Công ty TNHH Mỹ thuật Bụi</p>
                                        <p>Số tài khoản: 123456789</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart__payment-method-item">
                            <input type="radio" name="payment" value="onepay" id="payment3">
                            <label for="payment3">Thanh toán online qua Momo - Ngân hàng</label>
                            <div class="panel" id="collapseOnePay">
                                <div class="onepay" aria-label="atm">
                                    <i class="fa fa-university"></i>
                                    Thanh toán bằng thẻ ATM
                                </div>
                                <div class="onepay" aria-label="visa">
                                    <i class="fa fa-cc-visa"></i>
                                    Thanh toán bằng thẻ Visa/Master
                                </div>
                                <div class="onepay" aria-label="momo">
                                    <i class="fa fa-qrcode" aria-hidden="true"></i>
                                    Thanh toán qua Momo
                                </div>
                            </div>
{#                            <div class="checkout__payment">#}
{#                                <button class="btn btn-primary">#}
{#                                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>#}
{#                                    Thanh toán#}
{#                                </button>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart__right col-4">
                <h2>Đơn hàng</h2>
                <div class="cart__order" id="cartOrder">
                </div>
            </div>
        </div>

    </div>

{% endblock %}
