{% extends "layout/layout-user.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<link rel="stylesheet" href="{% static "css/gioithieu.css" %}">
<div class="intro">
    <div class="intro-header">
        <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-2">
        <h1 class="intro-title">Giới thiệu</h1>
        <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-3">
    </div>
    <div class="intro-content">
        <p>Bạn thân mến,</p>

        <p>Rất lâu trước khi có chữ viết, loài người đã sử dụng hình vẽ để thể hiện suy nghĩ của mình. 
            Điều đó có nghĩa, hội họa vốn là bản năng ẩn sâu trong mỗi con người, trong đó có chính bạn.
        </p>

        <p>Hãy thử nhớ lại những ngày tháng ấu thơ khi bạn say mê bên những bức tranh sáp màu trong sách Mỹ thuật; 
            bạn chép lại những nhân vật hoạt hình mình yêu thích; hay bị ba mẹ, 
            thầy cô cho ăn đòn vì những cuốn sách giáo khoa đầy nét vẽ bậy. 
            Nhưng tại sao khi lớn lên, cuộc sống của chúng ta bỗng thiếu vắng hội họa? 
            “Vẽ vời” là điều hầu như chúng ta không bao giờ làm nữa, trong nhiều năm trời, 
            hay thậm chí trong cả cuộc đời.
        </p>

        <p>Bạn không vẽ nữa, vì quá nhiều người nói với bạn rằng hội họa chỉ dành cho những người có năng khiếu.</p>

        <p>Bạn không vẽ nữa, vì các bộ môn “văn hóa”, và những công việc “kiếm tiền” luôn phải ưu tiên hơn nhiều.</p>

        <p>Nhưng quan trọng hơn, vì bạn thiếu đi cái sự vô tư, hồn nhiên và dám vẽ, dám thể hiện mình như khi còn là đứa trẻ.
            Nỗi sợ hãi và sự thiếu tự tin đã khiến bạn không bao giờ có thể bắt đầu.
        </p>

        <p>Mỹ thuật là nghệ thuật của cái đẹp. Sẽ thật buồn nếu một phần cái đẹp thiếu vắng đi trong cuộc sống chúng ta.</p>
        
        <p>Lớp vẽ Mỹ thuật Bụi thành lập từ 2014, với một sứ mệnh duy nhất là đem bộ môn Mỹ thuật hàn lâm đến gần hơn với những người không chuyên. 
            7 năm qua, lớp đã đồng hành cùng hàng chục ngàn học viên trên cả nước, khơi mở lại niềm đam mê và tạo ra phong trào rộng khắp trong xã hội.
        </p>

        <p>Thành công của Bụi thể hiện qua hàng nghìn tác phẩm xuất sắc, và hàng chục triển lãm quy mô lớn của học viên hai miền.
            Nhưng điều chúng mình tự hào nhất đó là mỗi người “đi Bụi” đều tìm thấy cho mình niềm tin “tôi có thể vẽ”, và tìm thấy vô vàn nguồn cảm hứng từ thầy cô, 
            từ những bạn bè, anh chị em trong cộng đồng Nhà của Bụi.
        </p>

        <p>Có người nói: “Hành trình vạn dặm bắt đầu từ một bước chân”. Nếu bạn muốn trải nghiệm một chặng đường thú vị với Mỹ thuật, 
            chúng mình rất vui được là nơi bạn chọn đặt bước chân đầu tiên.
        </p>

        <p>Chúc bạn tìm thấy thật nhiều niềm vui.</p>

        <p><b>Mỹ thuật Bụi.</b></p>
        <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-4">
    </div>
</div>
{%endblock%}