{% extends "layout/layout.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<link rel=stylesheet href="{% static "css/admin-giaovien.css" %}">
<main>
    <div class="head-title">
        <div class="left">
            <h1>Giáo viên</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Giáo viên</a>
                </li>
            </ul>
        </div>
        <div class="button-group">
            <a href="{% url 'them_gv' %}" class="btn-add">
                <i class='bx bx-plus'></i>
                <span class="text">Thêm</span>
            </a>
            {% comment %} <a href="#" class="btn-delete">
                <i class='bx bx-minus'></i>
                <span class="text">Xóa</span>
            </a>
            <a href="#" class="btn-edit">
                <i class='bx bx-edit-alt' ></i>
                <span class="text">Sửa</span>
            </a> {% endcomment %}
        </div>
    </div>

    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Danh sách giáo viên</h3>
                <form action="#" method="GET">
                    <div class="form-input">
                        <input name="seachsb" type="search" placeholder="Search...">
                        <button  type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                    </div>
                </form>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>SDT</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hv01</td>
                        <td>Luong Mai Thanh Thao</td>
                        <td><span class="status process">Nữ</td>
                        <td>24/12/2003</td>
                        <td>012345678</td>
                        <td>thao@gmail.com</td>
                        <td>140 le trong tan, tay thanh, tan phu, q12, tphcm</td>
                        <td>
                            <div class="form-button">
                                <a href="#" class="btn-delete">
                                    <i class='bx bx-minus'></i>
                                    <span class="text">Xóa</span>
                                </a>
                                <a href="{% url 'sua_gv' %}" class="btn-edit">
                                    <i class='bx bx-edit-alt' ></i>
                                    <span class="text">Sửa</span>
                                </a> 
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>hv01</td>
                        <td>Luong Mai Thanh Thao</td>
                        <td><span class="status process">Nữ</td>
                        <td>24/12/2003</td>
                        <td>012345678</td>
                        <td>thao@gmail.com</td>
                        <td>140 le trong tan, tay thanh, tan phu, q12, tphcm</td>
                        <td>
                            <div class="form-button">
                                <a href="#" class="btn-delete">
                                    <i class='bx bx-minus'></i>
                                    <span class="text">Xóa</span>
                                </a>
                                <a href="#" class="btn-edit">
                                    <i class='bx bx-edit-alt' ></i>
                                    <span class="text">Sửa</span>
                                </a> 
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}