{% extends "layout/layout.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<link rel=stylesheet href="{% static "css/them-gv.css" %}">
<main>
    <div class="head-title">
        <div class="left">
            <h1>Thêm giáo viên</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="{% url 'giaovien_admin' %}">Giáo viên</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Chi tiết giáo viên</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="table-data">
        <div class="order">
            <section class="container">
                <form class="form" method="POST">
                    {% csrf_token %}

                    <div class="input-box">
                        <label>Mã giáo viên</label>
                        <input name="magv" type="text" placeholder="Nhập mã" required />
                    </div>
                    <div class="input-box">
                        <label>Họ và tên</label>
                        <input name="hoten" type="text" placeholder="Nhập họ và tên" required />
                    </div>
                  
                    <div class="column">
                        <div class="input-box">
                            <label>Ngày sinh</label>
                            <input name="NgaySinh" type="date" placeholder="Chọn ngày sinh" required />
                        </div>
                        <div class="input-box">
                            <label>Số điện thoại</label>
                            <input name="SDT" type="number" placeholder="Nhập số điện thoại" required />
                        </div> 
                    </div>
                    <div class="column">
                        <div class="input-box">
                            <label>Email</label>
                            <input name="email" type="email" placeholder="example@gmail.com" required />
                        </div>
                        <div class="status-box">
                            <label>Trạng thái</label>
                            <div class="select-box">
                                <select name="trangthai">
                                    <option hidden>Chọn</option>
                                    <option>Đang hoạt động</option>
                                    <option>Ngừng hoạt động</option>
                                </select>
                            </div> 
                        </div>
                        
                    </div>

                    <div class="gender-box">
                        <h3>Giới tính</h3>
                        <div class="gender-option">
                            <div class="gender">
                                <input name="GioiTinh" type="radio" id="check-male" name="gender" checked />
                                <label for="check-male">Nam</label>
                            </div>
                            <div class="gender">
                                <input name="GioiTinh" type="radio" id="check-female" name="gender" />
                                <label for="check-female">Nữ</label>
                            </div>
                        </div>
                    </div>
                  <button type="submit">Thêm mới</button>
                </form>
              </section>
        </div>
    </div>
</main>

                {% if messages %}
                    <script type="text/javascript">
                        window.onload = function() {
                            alert("{% firstof messages %}");
                        }
                    </script>
                {% endif %}
{% endblock %}
