{% extends "layout/layout.html" %} {% block title %} Khóa học {% endblock %}
{% block content %}
    {% load static %}
    <link rel=stylesheet href="{% static "css/admin-khoahoc.css" %}">
    <script src="{% static "js/admin-khoahoc.js" %}"></script>
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Lịch {% if request.session.quyen == "HV" %}học{% else %}dạy{% endif %}</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Lịch {% if request.session.quyen == "HV" %}học{% else %}dạy{% endif %}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Thời khoá biểu</h3>
                </div>
                <div id="timetable-container">
                    <div class="navigation-buttons">
                        <button id="prev-week" onclick="changeWeek(-1)" class="btn-nav">
                            <span>&larr;</span> Tuần trước
                        </button>
                        <div id="current-week-label"></div>
                        <button id="next-week" onclick="changeWeek(1)" class="btn-nav">
                            Tuần sau <span>&rarr;</span>
                        </button>
                    </div>
                    <div class="timetable">
                        <div class="week-names">
                        </div>
                        <!-- <div class="time-interval" id="time-interval-container">
                            Các khoảng thời gian sẽ được tạo bằng JavaScript 
                            <div>7:00 - 9:00</div>
                            <div>9:30 - 11:30</div>
                            <div>1:00 - 3:00</div>
                            <div>3:30 - 5:30</div>
                            <div>6:00 - 8:00</div>
                        </div>-->
                        <div class="content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        const weeksData = {{ lich_hoc|safe }};
        console.log("Dữ liệu lịch học:", weeksData);
    </script>
{% endblock %}