{% extends "layout/layout.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<link rel=stylesheet href="{% static "css/admin-home.css" %}">
<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>

    <ul class="box-info">
        <li>
            <a href="{% url 'lichhoc_admin' request.session.user_idtaikhoan%}">
                <i class='bx bxs-calendar-check' ></i>
                <span class="text">
                    <h3>{{so_luong_lich_trong_tuan}}</h3>
                    <p>lịch trong tuần</p>
                </span>
            </a>
        </li>
        <li>
            <a href="{% url 'lophoc_admin' request.session.user_idtaikhoan%}">
                <i class='bx bxs-graduation'></i>
                <span class="text">
                    <h3>{{so_luong_lop_dang_hoc}}</h3>
                    <p>Lớp học {% if taikhoan.quyen == "GV" %} đang dạy {% else %} đang học {% endif %}</p>
                </span>
            </a>
        </li>
        {% if taikhoan.quyen == "HV" %}
        <li>
            <a href="{% url 'thanhtoan' request.session.user_idtaikhoan%}">
                <i class='bx bxs-dollar-circle' ></i>
                <span class="text">
                    <h3>{{tong_tien_chua_tt}} VNĐ</h3>
                    <p>Tổng tiền chưa thanh toán</p>
                </span>
            </a>
        </li>
        {% endif %}
    </ul>


    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Các lớp trong tuần</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Mã lớp</th>
                        <th>Tên lớp</th>
                        <th>Ngày học</th>
                        <th>Giờ học</th>
                        <th>Địa điểm</th>
                    </tr>
                </thead>
                <tbody>
                    {%for lop in dslop%}
                    <tr>
                        <td>
                            {{lop.malop}}
                        </td>
                        <td>{{lop.tenlop}}</td>
                        <td>{{lop.ngayhoc}}</td>
                        <td>{{lop.giohoc}}</td>
                        <td>{{lop.diadiem}}</td>

                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</main>
<!-- MAIN -->
{% endblock %}

