{% extends "layout/layout.html" %} {% block title %} Thanh toán {% endblock %} 
{%block content %} 
{% load static%}
<link rel=stylesheet href="{% static "css/admin-thanhtoan.css" %}">
<main>
    <div class="head-title">
        <div class="left">
            <h1>Thanh toán</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Thanh toán</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Danh sách hóa đơn</h3>
                <form action="#" method="GET">
                    <div class="form-input">
                        <input name="seachsb" type="search" placeholder="Search...">
                        <button  type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                    </div>
                </form>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Ngày lập</th>
                        <th>Tổng tiền</th>
                        <th>Lớp</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hd in dshd %}
                    <tr>
                        <td>{{hd.sohd}}</td>
                        <td>{{hd.ngaylap}}</td>
                        <td>{{hd.tongtien}}</td>
                        <td>{{hd.lop}}</td>
                        <td>
                            {%if hd.trangthai == "Chưa thanh toán" %}
                                <span class="status waiting">{{hd.trangthai}}
                            {% else %}
                                <span class="status success">{{hd.trangthai}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}