{% extends "layout/layout.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<link rel=stylesheet href="{% static "css/admin-hocvien.css" %}">
<main>
    <div class="head-title">
        <div class="left">
            <h1>Thông tin cá nhân</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Thông tin cá nhân</a>
                </li>
            </ul>
        </div>
        <div class="button-group">
            <a href="{% url 'doimatkhau' request.session.user_idtaikhoan%}" class="btn-add">
                <i class='bx bx-edit'></i>
                <span class="text">Đổi mật khẩu</span>
            </a>
        </div>
    </div>


    <div class="table-data">
        <div class="order">
            <section class="container">
                {% if thongtincanhan %}
                <form action="{% url 'luuthongtincanhan' request.session.user_idtaikhoan%}" method="POST" class="form">
                    {% csrf_token %}
                    <div class="input-box">
                        <label>Mã học viên</label>
                        <input type="text" value={{ thongtincanhan.mahv }} readonly >
                    </div>
                    <div class="input-box">
                        <label>Họ tên</label>
                        <input type="text" value="{{ thongtincanhan.tenhv }}" readonly >
                    </div>
                    <div class="column">
                        <div class="input-box">
                            <label>Email</label>
                            <input type="email" value={{ thongtincanhan.email }} readonly>
                        </div>
                        <div class="input-box">
                            <label>Giới tính</label>
                            <input name="gioitinh" type="text" value={{ thongtincanhan.GioiTinh }} >
                        </div>
                    </div>
                    <div class="column">
                        <div class="input-box">
                            <label>Số điện thoại</label>
                            <input name="sdt" type="text" value={{ thongtincanhan.SDT }} >
                            </div>
                        <div class="input-box">
                            <label>Ngày sinh</label>
                            <input name="ngaysinh" type="date" value={{ thongtincanhan.NgaySinh }} >
                        </div>
                    </div>
                    <div class="input-box address">
                        <label>Địa chỉ</label>
                        <input name="diachi" type="text" value="{{ thongtincanhan.DiaChi }}" >
                    </div>
                    <button type="submit">Lưu</button>
                    {% else %}
                    <p>Không tìm thấy thông tin cá nhân.</p>
                {% endif %}
                </form>
              </section>
        </div>
    </div>
</main>
{% endblock %}