{% extends "layout/layout.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<link rel=stylesheet href="{% static "css/admin-hocvien.css" %}">
<main>
    <div class="head-title">
        <div class="left">
            <h1>Thông tin cá nhân</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Thông tin cá nhân</a>
                </li>
            </ul>
        </div>
        <div class="button-group">
            <a href="{% url 'them_hv' %}" class="btn-add">
                <i class='bx bx-edit'></i>
                <span class="text">Đổi mật khẩu</span>
            </a>
        </div>
    </div>


    <div class="table-data">
        <div class="order">
            <section class="container">
                {% if thongtincanhan %}
                <form action="#" class="form">
                    <div class="input-box">
                        <label>Mã học viên</label>
                        <input type="text" value={{ thongtincanhan.mahv }} readonly >
                    </div>
                    <div class="input-box">
                        <label>Họ tên</label>
                        <input type="text" value={{ thongtincanhan.hoten }} readonly >
                    </div>
                    <div class="column">
                        <div class="input-box">
                            <label>Email</label>
                            <input type="email" value={{ thongtincanhan.email }} readonly>
                        </div>
                        <div class="input-box">
                            <label>Giới tính</label>
                            <input type="text" value={{ thongtincanhan.gioitinh }} >
                        </div>
                    </div>
                    <div class="column">
                        <div class="input-box">
                            <label>Số điện thoại</label>
                            <input type="text" value={{ thongtincanhan.sodienthoai }} >
                            </div>
                        <div class="input-box">
                            <label>Ngày sinh</label>
                            <input type="text" value={{ thongtincanhan.ngaysinh|date:"d/m/Y" }} >
                        </div>
                    </div>
                    
                    <div class="input-box address">
                        <label>Địa chỉ</label>
                        <input type="text" value={{ thongtincanhan.diachi }} >
                    </div>
                    <button>Lưu</button>
                    {% else %}
                    <p>Không tìm thấy thông tin cá nhân.</p>
                {% endif %}
                </form>
              </section>
        </div>
    </div>
</main>
{% endblock %}