{% extends "layout/layout.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<link rel=stylesheet href="{% static "css/admin-hocvien.css" %}">
<main>
    <div class="head-title">
        <div class="left">
            <h1>Thông tin cá nhân</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Thông tin cá nhân</a>
                </li>
            </ul>
        </div>
        <div class="button-group">
            <a href="{% url 'them_hv' %}" class="btn-add">
                <i class='bx bx-plus'></i>
                <span class="text">Lưu</span>
            </a>
        </div>
    </div>

    <div class="table-data">
        <div class="order">
            <div class="head">
                
            </div>
            <div class="body">
                {% if thongtincanhan %}
                    <p>Mã học viên: {{ thongtincanhan.mahv }}</p>
                    <p>Họ tên: {{ thongtincanhan.hoten }}</p>
                    <p>Email: {{ thongtincanhan.email }}</p>
                    <p>Số điện thoại: {{ thongtincanhan.sodienthoai }}</p>
                    <p>Giới tính: {{ thongtincanhan.gioitinh }}</p>
                    <p>Ngày sinh: {{ thongtincanhan.ngaysinh|date:"d/m/Y" }}</p>
                    <p>Địa chỉ: {{ thongtincanhan.diachi }}</p>
                    <a href="{% url 'them_hv' %}" class="btn-add">
                        <i class='bx bx-plus'></i>
                        <span class="text">Đổi mật khẩu</span>
                    </a>
                {% else %}
                    <p>Không tìm thấy thông tin cá nhân.</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}