{% extends "layout/layout.html" %} {% block title %} Khóa học {% endblock %}
{% block content %}
    {% load static %}
    <link rel=stylesheet href="{% static "css/admin-khoahoc.css" %}">
    <script src="{% static "js/admin-khoahoc.js" %}"></script>
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Lịch học</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Lịch học</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Thời khoá biểu</h3>
                </div>
                <div id="timetable-container">
                    <div class="navigation-buttons">
                        <button id="prev-week" onclick="changeWeek(-1)" class="btn-nav">
                            <span>&larr;</span> Tuần trước
                        </button>
                        <div id="current-week-label">Tuần hiện tại (20/11 - 26/11)</div>
                        <button id="next-week" onclick="changeWeek(1)" class="btn-nav">
                            Tuần sau <span>&rarr;</span>
                        </button>
                    </div>
                    <div class="timetable">
                        <div class="week-names">
                        </div>
                        <div class="time-interval">
                            <div>8:00 - 10:00</div>
                            <div>10:00 - 12:00</div>
                            <div>12:00 - 14:00</div>
                            <div>14:00 - 16:00</div>
                            <div>16:00 - 18:00</div>
                            <div>18:00 - 20:00</div>
                        </div>
                        <div class="content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}