{% extends "layout/layout.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<link rel=stylesheet href="{% static "css/admin-giaovien.css" %}">
<main>
    <div class="head-title">
        <div class="left">
            <h1>Danh sách lớp học</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Danh sách lớp học {% if request.session.quyen == "HV" %}đã đăng ký{% endif %}</a>
                </li>
            </ul>
        </div>
        {% comment %} <div class="button-group">
            <a href="{% url 'them_gv' %}" class="btn-add">
                <i class='bx bx-plus'></i>
                <span class="text">Thêm</span>
            </a>
        </div> {% endcomment %}
    </div>

    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3></h3>
                <form action="{%url 'search_dslop' request.session.user_idtaikhoan%}" method="POST">
                    {% csrf_token %}
                    <div class="form-input" >
                        <input name="search_ten" type="search" placeholder="Tìm theo tên lớp...">
                        <button  type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                    </div>
                </form>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Mã lớp</th>
                        <th>Tên lớp</th>
                        <th>Địa điểm học</th>
                        {% if taikhoan.quyen == "HV" %}<th>Học phí</th>{% endif %}
                        <th>Tình trạng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in dslop %}
                        {%if taikhoan.quyen == "HV"%}
                        <tr styles="">
                            <td>{{item.malop}}</td>
                            <td>{{item.tenlop}}</td>
                            <td>{{item.diadiem}}</td>
                            {% if taikhoan.quyen == "HV" %}<td>{{item.hocphi}}</td>{% endif %}
                            <td>{{item.tinhtrang}}</td>
                            <td>
                            {% if item.status_btn == item.tinhtrang%}
                                <div class="form-button">
                                    <a href="{%url 'danhgia' request.session.user_idtaikhoan item.malop%}" class="btn-edit">
                                        <i class='bx bx-edit-alt' ></i>
                                        <span class="text">Đánh giá</span>
                                    </a> 
                                </div>
                            {% endif %}
                            </td>
                        </tr>
                        {% elif  taikhoan.quyen == "GV"%}
                        <tr styles="">
                            <td>{{item.malop}}</td>
                            <td>{{item.tenlop}}</td>
                            <td>{{item.diadiem}}</td>
                            <td>{{item.tinhtrang}}</td>
                            <td>
                            <div class="form-button">
                                <a href="{%url 'danhsachhocvien' request.session.user_idtaikhoan item.malop %}" class="btn-edit">
                                    <span class="text" >Danh sách học viên</span>
                                </a> 
                            </div>
                            </td>
                        </tr>
                        {%endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}