{% extends "layout/layout-user.html" %} {% block title %} Home {% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/chi-tiet-giao-vien.css" %}">
    <div class="teacher-detail container">
        <h1>Ngô Khánh Hân</h1>
        <div class="teacher-detail__left row">
            <div class="col-4">
                <img class="teacher-img" src="{% static "img/gv-1.jpeg" %}" alt="">
                <div class="teacher-info">
                    <div class="teacher-info__item">
                        <ul>
                            <li class="w-700">Giáo viên Mỹ Thuật Bụi</li>
                            <li class="w-700">Đại học Mỹ Thuật TP.HCM</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <h4>Giáo viên</h4>
                <h2>Ngô Khánh Hân</h2>
                <div class="teacher-quote">
                    <p>"Hãy cứ thử, bạn sẽ không bao giờ biết mình có thể làm được gì cho đến khi bạn thử"</p>
                    <i class="fa fa-quote-right"></i>
                </div>
                <div class="teacher-detail__experience">
                    <p class="w-700">Chuyên môn:</p>
                    <p>Hội họa sơn dầu, phong cảnh, hình họa, căn bản</p>
                </div>
                <div class="teacher-detail__style">
                    <p class="w-700">Phong cách, phương pháp giảng dạy:</p>
                    <p class="italic">Vui vẻ, tạo niềm cảm hứng nhưng vẫn tạo ra giá trị</p>
                    <p>Là một giảng viên có tâm với nghề. Đối với học viên, Danh không chỉ muốn dạy những kiến thức quý
                        báu mà còn muốn truyền lại tình yêu đầy tâm huyết với hội họa.</p>
                    <p>Lớp học của Danh thời gian đầu khá là im ắng, nhưng sau một thời gian, cả thầy và trò hiểu nhau
                        hơn thì lớp học luôn tràn ngập tiếng cười và sự vui vẻ.</p>
                </div>
    
            </div>
        </div>
    </div>

{% endblock %}
