{% extends "layout/layout-user.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<link rel="stylesheet" href="{% static "css/chi-nhanh.css" %}">  
<div class="background">
    <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-2">
    <h1 class="title">Các chi nhánh của Mỹ Thuật Bụi</h1>
    <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-3">
    <div class="chi-nhanh">
        <div class="hn">
            <div class="head-title">
                <h2>Hà Nội</h2>
                <p>02899955505</p>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Tầng 4 số 72 Trần Quốc Toản, Trần Hưng Đạo, Hoàn Kiếm, Hà Nội</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Số 8 ngõ 11 Nguyễn Hoàng, Mỹ Đình, Q. Nam Từ Liêm, Hà Nội</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Tầng 2, số 8 ngách 2 ngõ 199 Thụy Khuê, Phường Thụy Khuê, Quận Tây Hồ, Hà Nội (Tầng 2 nhà văn hóa phường Thụy Khuê, ngõ 11 Dốc Tam Đa)</span>
            </div>
            
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>B18-TT5 Khu đô thị Văn Quán, Quận Hà Đông, Hà Nội</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Tầng 6 số 627 Kim Ngưu, Vĩnh Tuy, Q. Hai Bà Trưng, Hà Nội</span>
            </div>
        </div>
        <div class="tphcm">
            <div class="head-title">
                <h2>Thành phố Hồ Chí Minh</h2>
                <p>02899955505</p>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Số 84A Võ Thị Sáu, Phường Tân Định, Quận 1 (Hẻm 82 Võ Thị Sáu)</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Số 6 Đường số 6, Cư xá Đô Thành, Phường 4, Quận 3</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Số 6/5 Trần Phú, Phường 4, Quận 5</span>
            </div>
            
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Số 68 đường 817A Tạ Quang Bửu, Phường 5, Quận 8</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Số 6G3, Đường số 52, KDC Tân Quy Đông, Quận 7</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Số 305/72 Lê Văn Sỹ, Phường 1, Quận Tân Bình</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Số 6 Trần Quốc Tuấn, Phường 1, Quận Gò Vấp</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>347/6 đường Lê Văn Thọ, Phường 9, Quận Gò Vấp</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Số 36/53 Nguyễn Gia Trí, Phường 25, Quận Bình Thạnh</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Số 720/16 - 720/18 Âu Cơ, Phường 14, Quận Tân Bình</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>Số 87/11 Tân Thắng, Phường Sơn Kỳ, Quận Tân Phú</span>
            </div>
            <div class="location">
                <div class="icon-container">
                    <ion-icon name="location-outline"></ion-icon>
                </div>
                <span>23 Hoàng Lê Kha, Phường 9, Quận 6</span>
            </div>
        </div>
    </div>
</div>

{%endblock%}