{% extends "layout/layout-user.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<link rel="stylesheet" href="{% static "css/chinh-sach-dich-vu.css" %}">
<div class="service">
    <div class="service-header">
        <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-2">
        <h1 class="service-title">Chính sách dịch vụ</h1>
        <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-3">
    </div>
    <div class="service-content">
        <h3>1. CHÍNH SÁCH KÍCH HOẠT DỊCH VỤ</h3>

        <p>Chúng tôi sẽ kích hoạt dịch vụ và thông báo qua email theo thông tin Quý khách đã đăng ký khi đặt hàng muộn nhất là 24h sau khi thanh toán.</p>

        <p>Nếu quá thời hạn đã cam kết mà bạn vẫn chưa nhận được thông tin kích hoạt dịch vụ, 
            bạn vui lòng thông báo tới bộ phận Chăm sóc khách hàng của chúng tôi theo thông tin sau để được hỗ trợ kịp thời.
        </p>

        <p> + Hotline: 02899955505 (giờ hành chính)</p>

        <p> + Email: lopveonline@mythuatbui.vn</p>

        <h3>2. CHÍNH SÁCH HỖ TRỢ KỸ THUẬT</h3>

        <p>
            Nếu gặp khó khăn về kỹ thuật (vào học bị thoát ra phải vào lại, không load được khóa học/ebook,
             không xem được video,…), Quý khách hàng có thể gọi đến số Hotline 02899955505 (giờ hành chính).
        </p>

        <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-4">
    </div>
</div>
{%endblock%}