{% extends "layout/layout-user.html" %} {% block title %} Home {% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/khoahoc.css" %}">
    <div class="list-course">
        <h1>Danh sách khóa học </h1>
        <div class="list-button">
            <h3> Môn học: </h3>
            <div class="course-button">
                <button class="btn btn-all">Tất cả</button>
                <button class="btn btn-phong-canh">Phong cảnh</button>
                <button class="btn btn-ky-hoa">Ký họa</button>
                <button class="btn btn-chan-dung">Chân dung</button>
                <button class="btn btn-mau-nuoc">Màu nước</button>
                <button class="btn btn-son-dau">Sơn dầu</button>
            </div>
        </div>
        <div class="list-button">
            <h3>Trình độ: </h3>
            <div class="level-button">
                <button class="btn btn-all">Tất cả</button>
                <button class="btn btn-co-ban">Cơ bản</button>
                <button class="btn btn-nang-cao">Nâng cao</button>
            </div>
        </div>
        <div class="grid-container">
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-ky-hoa.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh ký họa</h5>
                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                            quasi
                            architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                    <div class="price">
                        <h3>1$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-ky-hoa.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh ký họa</h5>
                        <p class="card-text">Sed ut perspiciatis unde</p>
                    </div>
                    <div class="price">
                        <h3>1$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-ky-hoa.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh ký họa</h5>
                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                            quasi
                            architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                    <div class="price">
                        <h3>1$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-ky-hoa.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh ký họa</h5>
                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                            quasi
                            architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                    <div class="price">
                        <h3>1$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-ky-hoa.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh ký họa</h5>
                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                            quasi
                            architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                    <div class="price">
                        <h3>1$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-ky-hoa.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh ký họa</h5>
                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                            quasi
                            architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                    <div class="price">
                        <h3>1$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url "ttkhoahoc" %}">
                <div>
                    <img src="{% static "img/tranh-chan-dung.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tranh chân dung</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="price">
                        <h3>90$</h3>
                        <button class="btn btn-submit">Đăng ký</button>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <ul class="list-page">
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
    </ul>
    </div>

{% endblock %}