{% extends "layout/layout-user.html" %}
{% block title %} Home {% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/khoahoc.css" %}">
    <div class="list-course">
        <h1>Danh sách khóa học </h1>
        <div class="list-button">
            <h3> Môn học: </h3>
            <div class="course-button">
                <button class="btn btn-all"><a href="{% url 'khoahoc' %}">Tất cả</a></button>
                {% for tl in dm_kh %}
                    <button class="btn btn-phong-canh"><a href="{% url 'DSTheoKH' tl.makh %}">{{ tl.tenkh }}</a></button>
                {% endfor %}
            </div>
        </div>
        <div class="list-button">
            <h3>Độ tuổi: </h3>
            <div class="level-button">
                <button class="btn btn-all"><a href="{% url 'khoahoc' %}">Tất cả</a></button>
                
                {% for tl in dm_kh %}
                <button class="btn btn-co-ban"><a href="{% url 'DSTheoKH' tl.makh %}">{{ tl.dotuoi }}</a></button>
                {% endfor %}
     
            </div>
        </div>
        <div class="list-button">
            <h3>Ngày bắt đầu: </h3>
            <div class="datepicker-container">
                <input type="text" class="date-input" placeholder="Chọn ngày bắt đầu" />
                <div class="datepicker" hidden>
                  <!-- .datepicker-header -->
                  <div class="datepicker-header">
                    <button class="prev">Trước</button>
          
                    <div>
                      <select class="month-input">
                        <option>Tháng 1</option>
                        <option>Tháng 2</option>
                        <option>Tháng 3</option>
                        <option>Tháng 4</option>
                        <option>Tháng 5</option>
                        <option>tháng 6</option>
                        <option>Tháng 7</option>
                        <option>Tháng 8</option>
                        <option>Tháng 9</option>
                        <option>Tháng 10</option>
                        <option>Tháng 11</option>
                        <option>Tháng 12</option>
                      </select>
                      <input type="number" class="year-input" />
                    </div>
          
                    <button class="next">Tiếp</button>
                  </div>
                  <!-- /.datepicker-header -->
          
                  <!-- .days -->
                  <div class="days">
                    <span>C</span>
                    <span>H</span>
                    <span>B</span>
                    <span>T</span>
                    <span>N</span>
                    <span>S</span>
                    <span>B</span>
                  </div>
                  <!-- /.days -->
          
                  <!-- .dates -->
                  <div class="dates"></div>
                  <!-- /.dates -->
          
                  <!-- .datepicker-footer -->
                  <div class="datepicker-footer">
                    <button class="cancel">Hủy</button>
                    <button class="apply">Xác nhận</button>
                  </div>
                </div>
            </div>
        </div>
        <div class="grid-container">
            {% for lop in ds_lop %}
                <a class="card" href="{% url 'ttkhoahoc' lop.malop %}">
                    <div>
                        <img src="{% static 'img/'|add:lop.urlhinh %}" class="card-img-top" alt="{{ lop.tenlop }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ lop.tenlop }}</h5>
                            <p class="card-text">
                                {% for ct in ctkh %}
                                    {% if ct.makh.makh == lop.makh.makh %}
                                        {{ ct.manoidung.tieude }}
                                    {% endif %}
                                {% empty %}
                                    No description available
                                {% endfor %}
                            </p>
                            
                            <p >Ngày bắt đầu: {{ lop.ngaybatdau|date:"d F Y" }}</p>
                           
                        </div>
                        <div class="price">
                            {% load humanize %} 
                            <h3>{{ lop.hocphi|floatformat:0|intcomma }} VNĐ</h3>
                            <form action="{% url 'ttkhoahoc' lop.malop  %}" method="get">
                                <button type="submit" class="btn btn-submit">Đăng ký</button>
                            </form>

                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <ul class="list-page">
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</div>
{% endblock %}
