{% extends "layout/layout-user.html" %} 
{% block title %} Khóa học của tôi {% endblock %} 

{% block content %} 
{% load static %}
<link rel="stylesheet" href="{% static "css/lich-su-khoa-hoc.css" %}">

<div class="service">
    <div class="service-header">
        <img src="{% static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-2">
        <h1 class="service-title">Khóa học của tôi</h1>
        <img src="{% static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-3">
    </div>

    <div class="service-content">
        <h3>Các khóa học đã mua</h3>
    
        {% if registered_courses %}
            <div class="grid-container">
                {% for hoa_don in registered_courses %}
                    <a class="card" href="#">
                        <div>
                            {% if hoa_don.malop.urlhinh %}
                            <img src="{{ hoa_don.malop.urlhinh }}" class="card-img-top" alt="{{ hoa_don.malop.tenlop }}">
                        {% else %}
                            <p>Không có hình ảnh</p>
                        {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ hoa_don.malop.tenlop }}</h5>
                                <p class="card-text">{{ hoa_don.malop.mota|linebreaks }}</p>
                                <div class="price">
                                    {% load humanize %}
                                    <h3>{{ hoa_don.malop.hocphi|intcomma }} VNĐ</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>Bạn chưa có khóa học nào trong lịch sử.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
