{% extends "layout/layout-user.html" %}
{% block title %} Thông tin khóa học {% endblock %} 

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/thong-tin-khoa-hoc.css" %}">

    <div class="instruct">
        {% if single_lop %}
            <div class="instruct-header">
                <img src="{% static 'img/hero-shape.png' %}" width="570" height="676" alt="laves" class="shape-2">
                <h1 class="instruct-title">Thông tin lớp học</h1>
                <img src="{% static 'img/hero-shape.png' %}" width="570" height="676" alt="laves" class="shape-3">
            </div>

            <div class="instruct-content">
                <div class="side-bar">
                    <!-- Display class image and details -->
                    <img src="{% static 'img/tranh-ky-hoa.jpg' %}" class="card-img-top" alt="...">
                    <h3>{{ single_lop.tenlop }}</h3>
                    <p>
                        Giáo viên: 
                        {% if giaovien %}
                        {{ giaovien.hoten }}
                        {% else %}
                            Chưa có thông tin giáo viên
                        {% endif %}
                        <br>
                        Khóa học cấp độ: 
                        {% if single_lop.khoa_hoc %}
                            {{ single_lop.khoa_hoc.capdo }}
                        {% else %}
                            Chưa có thông tin cấp độ
                        {% endif %}
                    </p>
                </div>

                <div class="main-content">
                    <h1>{{ single_lop.tenlop }}</h1>
                    <p><strong>Địa điểm học:</strong> {{ single_lop.diadiemhoc }}</p>
                    <p><strong>Ngày bắt đầu:</strong> {{ single_lop.ngaybatdau |date:"d F Y"}}</p>
                    <p><strong>Mô tả:</strong> {{ khoa_hoc.mota }}</p>
                 
                    <a href="{% url 'them_vao_gio_hang' malop=single_lop.malop %}" class="btn btn-primary">Đăng Ký Lớp Học</a>
                    
                </div>
                
            </div>

          
        {% else %}
            <p>Không tìm thấy thông tin lớp học.</p>
        {% endif %}
    </div>
{% endblock %}
