
{% extends "layout/layout-user.html" %} {% block title %} Home {% endblock %} 
{%block content %} 
{% load static%}
<article>
    <!-- 
      - #HERO
    -->

    <section class="section hero" aria-label="home">
      <div class="container">

        <div class="hero-content">
          <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-2">
          <h1 class="h1 hero-title">
           Mỹ thuật <br>
          <span class="span">Phong cách</span>
          </h1>

          <p class="section-text">
            Khơi nguồn sáng tạo, vẽ nên phong cách
          </p>
          <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape-3">
          {% comment %} <a href="#" class="btn">
            <span class="span">TÌM HIỂU THÊM</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a> {% endcomment %}

        </div>

        <div class="wrapper">
          <div class="hero-banner-1 img-holder" style="--width: 400; --height: 550;">
            <img src="{% static "img/kh-nl-1.jpg" %}" width="400" height="550"
              alt="view of assortment of decor for interior shop" class="img-cover">
          </div>

          <div class="hero-banner-2 img-holder" style="--width: 500; --height: 850;">
            <img src="{% static "img/kh-nl-2.png" %}" width="500" height="850" alt="ceramic craft ware"
              class="img-cover">
          </div>

          <img src="{%static "img/hero-shape.png" %}" width="570" height="676" alt="laves" class="shape">
        </div>

      </div>
    </section>





    <!-- 
      - #COURSE
    -->
    <section class="section course" aria-label="course">
      <p class="course-title">5 môn học từ căn bản đến nâng cao, đa dạng chất liệu, chủ đề, đáp ứng mọi sở thích, định hướng của bạn</p>
        <div class="container">
          {% for tl in dm_kh|slice:":5" %}
          <div class="card" href="{% url 'DSTheoKH' tl.makh %}">
              <div class="img-bx" style="--img:url({% static "img/tranh-phong-canh.jpg" %}) ">
                <a  href="{% url 'DSTheoKH' tl.makh %}"></a>
              </div>
              
              <div class="content"  >
                  <h3>{{ tl.tenkh }}<br><span><a href="{% url 'DSTheoKH' tl.makh %}">Tìm hiểu thêm</a></span></h3>
              </div>
             
          </div>
          {% endfor %}
      </div>
    </section>


    <!-- 
      - #COLLECTION
    -->

    <section class="section collection text-center" aria-labelledby="collection-label">
      <div class="container">

        <h2 class="h2 section-title" id="collection-label">
          Kết thúc khóa học bạn được gì ?
        </h2>

        <p class="section-text">
          Sản phẩm của các học viên sau khi tham gia khóa học
        </p>

        <ul class="grid-list">

          <li>
            <div class="collection-card">

              <figure class="card-banner img-holder" style="--width: 500; --height: 550;">
                <img src="{%static "img/sp-2.jpg"%}" width="500" height="550" loading="lazy"
                  alt="Pottery & Ceramics" class="img-cover">
              </figure>


            </div>
          </li>

          <li>
            <div class="collection-card">

              <figure class="card-banner img-holder" style="--width: 500; --height: 550;">
                <img src="{%static "img/sp-4.jpg"%}" width="500" height="550" loading="lazy"
                  alt="Leather Craft" class="img-cover">
              </figure>

            </div>
          </li>

          <li>
            <div class="collection-card">

              <figure class="card-banner img-holder" style="--width: 500; --height: 550;">
                <img src="{%static "img/sp-3.jpg"%}" width="500" height="550" loading="lazy"
                  alt="Home Decoration" class="img-cover">
              </figure>
            </div>
          </li>
        </ul>
        <p class="collection-title">Tự hào khi được đồng hành cùng bạn trên con đường hội họa<p>

      </div>
    </section>


    <!-- 
      - #TESTIMONIALS
    -->

    <section class="testimonial" aria-label="testimonials">

      <div class="section testimonial-content">
        <div class="container">
          <div class="section-title">
              <h2>Học viên nghĩ gì về Bụi?</h2>
              <span class="section-separator"></span>
              <p>Không chỉ là một lớp học vẽ, sứ mệnh của Bụi là trở thành ngôi nhà chung cho những người đam mê hội họa</p>
          </div>
      </div>
      <div class="testimonials-carousel-wrap">
          <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right" style="color: #fff"></i></div>
          <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left" style="color: #fff"></i></div>
          <div class="testimonials-carousel">
              <div class="swiper-container">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="testi-item">
                              <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                              <div class="testimonials-text">
                                  <div class="listing-rating">
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                  </div>
                                  <p>Mình chưa từng nghĩ mình và hội họa hay nghệ thuật có thể đi chung 1 con đường, 
                                    cho đến khi mình biết đến Bụi! Mình mong là Bụi càng ngày càng lớn mạnh và nhiều người hơn nữa có cơ hội trải nghiệm với hội họa.</p>
                                  <a href="#" class="text-link"></a>
                                  <div class="testimonials-avatar">
                                      <h3>Đỗ Thị Kim Chi</h3>
                                      <h4>Học viên</h4>
                                  </div>
                              </div>
                              <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                          </div>
                      </div>
  
                      <!--second-->
                      <div class="swiper-slide">
                          <div class="testi-item">
                              <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                              <div class="testimonials-text">
                                  <div class="listing-rating">
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                  </div>
                                  <p>Mình thích tinh thần của Bụi, ai cũng vẽ được quan trọng bạn có kiên trì và yêu thích hay không. 
                                    Cảm ơn các bài dạy online free và minigame của Bụi, vẽ cùng nhau thực sự rất vui!</p>
                                  <a href="#" class="text-link"></a>
                                  <div class="testimonials-avatar">
                                      <h3>Ba Nguyen</h3>
                                      <h4>Học viên</h4>
                                  </div>
                              </div>
                              <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                          </div>
                      </div>
                      <!--third-->
  
                      <div class="swiper-slide">
                          <div class="testi-item">
                              <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                              <div class="testimonials-text">
                                  <div class="listing-rating">
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                  </div>
                                  <p>Bụi là một trung tâm giảng dạy Mỹ Thuật rất bài bản, có lý thuyết và thực hành vững, 
                                    đồng thời là nơi rất tích cực đưa ra các phương pháp giảng dạy và quản lí để tất cả cùng nhau phát triển. Một người vì mọi người, 
                                    không ai sẽ bị bỏ rơi lại trên chặng đường chinh phục hội họa.</p>
                                  <a href="#" class="text-link"></a>
                                  <div class="testimonials-avatar">
                                      <h3>Hồng Phước</h3>
                                      <h4>Học viên</h4>
                                  </div>
                              </div>
                              <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                          </div>
                      </div>
  
                      <!--fourth-->
                      <div class="swiper-slide">
                          <div class="testi-item">
                              <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                              <div class="testimonials-text">
                                  <div class="listing-rating">
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                  </div>
                                  <p>Bụi là nơi dành cho những ai có niềm đam mê vẽ, muốn thử sức để cho ra những tác phẩm của riêng mình. 
                                    Các anh chị giáo viên vui vẻ, đáng yêu luôn giúp đỡ và chỉ dẫn tận tình. 
                                    Các bạn staff luôn thân thiện, hỗ trợ hết mình để học viên có những giờ học thoải mái nhất có thể tại Bụi!</p>
                                  <a href="#" class="text-link"></a>
                                  <div class="testimonials-avatar">
                                      <h3>Nguyễn Hồng Thu Ngọc</h3>
                                      <h4>Học viên</h4>
                                  </div>
                              </div>
                              <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                          </div>
                      </div>
                      <!--testi end-->
  
                  </div>
              </div>
          </div>
  
          <div class="tc-pagination"></div>
      </div>
      </div>

    </section>



    <!-- 
      - #FEATURES
    -->

    <section class="section feat" aria-label="features">
      <div class="container">

        <div class="feat-card">

          <p class="card-text">
            Không cần năng khiếu, không cần trình độ đến với chúng mình để được hướng dẫn từ những
            bước cầm cọ đầu tiên
          </p>

          <p class="client-name">Vì Bụi khiến học vẽ trở nên dễ dàng</p>

          <img src="{%static "img/quote.svg" %}" width="50" height="50" loading="lazy" class="icon" alt="quote">

        </div>

      </div>
    </section>


    <!-- 
      - #GALLERY
    -->

    <section class="gallery">

      <ul class="gallery-list">

        <li>
          <div class="gallery-card has-bg-image has-after"
            style="background-image: url({% static "img/gv-1.jpeg" %})">
            <div class="card-content">

              <h3 class="h3 card-title">Ngô Khánh Hân</h3>

              <a href="/user/giaovien/chitietgiaovien/" class="btn-link">
                <span class="span">Xem chi tiết</span>

                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </a>

            </div>
          </div>
        </li>

        <li>
          <div class="gallery-card has-bg-image has-after"
            style="background-image: url({% static "img/gv-2.jpeg" %})">
            <div class="card-content">

              <h3 class="h3 card-title">Trần Thanh Trúc</h3>

              <a href="/user/giaovien/chitietgiaovien/" class="btn-link">
                <span class="span">Xem chi tiết</span>

                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </a>

            </div>
          </div>
        </li>

        <li>
          <div class="gallery-card has-bg-image has-after"
            style="background-image: url('{% static "img/gv-3.jpg" %}')">
            <div class="card-content">

              <h3 class="h3 card-title">Hình Đinh Gia Bảo</h3>

              <a href="/user/giaovien/chitietgiaovien/" class="btn-link">
                <span class="span">Xem chi tiết</span>

                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </a>

            </div>
          </div>
        </li>

        <li>
          <div class="gallery-card has-bg-image has-after"
            style="background-color:hsla(35, 70%, 38%, 0.6);">
            <div class="card-content">

              <h3 class="h3 card-title">Xem thêm giáo viên</h3>

              <a href="/user/giaovien" class="btn-link">
                <span class="span">Xem chi tiết</span>

                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </a>

            </div>
          </div>
        </li>

      </ul>

    </section>





    <!-- 
      - #BLOG
    -->

    <section class="section blog" aria-labelledby="blog-label">
      <div class="container">
        <h3 style="text-align: center;">Truyền thông</h3>
        <h2 class="h2 section-title text-center" id="blog-label">Báo chí nói về Bụi</h2>

        <p class="section-text text-center">
          
        </p>

        <ul class="grid-list">

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 1024; --height: 683;">
                <img src="{%static "img/bao-1.jpg"%}" width="1024" height="683" loading="lazy"
                 class="img-cover">
              </figure>

              <div class="card-content">

                <h3 class="h4">
                  <a href="https://sovhtt.hanoi.gov.vn/trien-lam-tim-ve-2017-mau-khoanh-khac/" class="card-title">
                    Triển lãm Tìm về 2017: About Time – Màu khoảnh khắc tôi đem ký ức đẹp lưu giữ nhẹ vào tranh
                  </a>
                </h3>

                <div class="card-meta">

                  <time class="card-meta-wrapper" datetime="">
                    <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                    <span class="span">22/03/2018</span>
                  </time>
                  
                  <p class="card-meta-wrapper">
                    Hơn 100 tác giả đến từ nhiều ngành nghề,
                     lứa tuổi khác nhau cùng xuất hiện tại triển lãm tranh dành riêng cho họa sĩ không chuyên, 
                     điều này hứa hẹn đem đến nhiều trải nghiệm bất ngờ với công chúng yêu nghệ thuật tại Hà Nội và TP Hồ Chí Minh.
                  </p>

                </div>

              </div>

            </div>
          </li>

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 1024; --height: 683;">
                <img src="{%static "img/bao-2.png"%}" width="1024" height="683" loading="lazy"
                class="img-cover">
              </figure>

              <div class="card-content">

                <h3 class="h4">
                  <a href="https://cand.com.vn/Chuyen-dong-van-hoa/Quay-nguoc-thoi-gian-cung-trien-lam-Tim-ve-2017-Mau-khoanh-khac-i467844/" class="card-title">
                    Khai mạc Triển Lãm Tìm Về 2017: About Time – Màu Khoảnh Khắc
                  </a>
                </h3>

                <div class="card-meta">

                  <time class="card-meta-wrapper" datetime="">
                    <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                    <span class="span">22/03/2018</span>
                  </time>
                  <p class="card-meta-wrapper">
                    Ngày 11/03/2018, tại Trung tâm Triển lãm Mỹ thuật 
                    – Nhiếp ảnh đã diễn ra lễ khai mạc Triển Lãm Tìm Về 2017: About Time 
                    – Màu Khoảnh Khắc, thu hút đông đảo người tham quan, chờ đợi ngắm nhìn số lượng lớn tác phẩm của hàng loạt nghệ sĩ không chuyên dày công chuẩn bị. 
                  </p>
                </div>

              </div>

            </div>
          </li>

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 1024; --height: 683;">
                <img src="{%static "img/bao-3.jpg"%}" width="1024" height="683" loading="lazy"
                class="img-cover">
              </figure>

              <div class="card-content">

                <h3 class="h4">
                  <a href="https://baoxaydung.com.vn/trien-lam-tim-ve-2017-about-time-mau-khoanh-khac-toi-dem-ky-uc-dep-luu-giu-nhe-vao-tranh-225980.html" class="card-title">
                    Triển lãm “Tìm về 2017: Màu khoảnh khắc” – Chiếc vé ngược thời gian
                  </a>
                </h3>

                <div class="card-meta">

                  <time class="card-meta-wrapper" datetime="">
                    <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                    <span class="span">22/03/2018</span>
                  </time>
                  <p class="card-meta-wrapper">
                    TTTĐ - Ngày 11/3, tại Hà Nội, triển lãm Tìm về 2017 với chủ đề "About Time - Màu khoảnh khắc" đã khai mạc với sự tham dự của hơn 100 tác giả là các họa sĩ
                  </p>
                </div>

              </div>

            </div>
          </li>
        </ul>
        
      </div>
    </section>

  </article>
{% endblock%}
